body {
    background: #232323;
    margin: 0;
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
}

.square {
    width: 30%;
    background-color: purple;
    padding-bottom: 30%;
    float: left;
    margin: 1.66%;
    border-radius: 5%;
    transition: ease-out 0.5s;
}

#container {
    margin: 20px auto;
    max-width: 600px;
}

h1 {
    text-align: center;
    color: white;
    background: steelblue;
    margin: 0;
    font-weight: normal;
    line-height: 1.1;
    padding: 20px 0;
    text-transform: uppercase;
}

#strip {
    background-color: white;
    height: 30px;
    text-align: center;
    color: black;
}

.selected {
    color: white;
    background: steelblue;
}

#colorDisplay {
    font-size: 200%;
}

button {
    letter-spacing: 1px;
    border: none;
    background: none;
    text-transform: uppercase;
    height: 100%;
    color: steelblue;
    font-weight: 700;
    font-size: inherit;
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
    transition: all 0.3s;
    outline: none;
}

button:hover {
    color: white;
    background: steelblue;
}

#message {
    display: inline-block;
    width: 20%;
}